@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Itim&display=swap");

* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	background-color: #272c34;

	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	aspect-ratio: 1/1;
	width: 40vw;
	background-color: #75cfeb;
	
	position: relative;
	overflow: hidden;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
	animation: desaparecer 3.5s linear infinite;
}

@keyframes desaparecer {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	95% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.suelo {
	position: absolute;
	height: 50%;
	width: 100%;
	background-color: #dece6f;
	top: 64.9%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.sombra {
	position: absolute;

	width: 150%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);

	animation: sombra 3.5s linear infinite;
}

@keyframes sombra {
	0% {
		clip-path: polygon(15% 0, 100% 20%, 85% 0);
	}
	30% {
		clip-path: polygon(15% 0, 100% 40%, 85% 0);
	}
	50% {
		clip-path: polygon(15% 0, 100% 40%, 85% 0);
	}
	65% {
		clip-path: polygon(40px 0, 40px 100%, 140px 0);
	}
	100% {
		clip-path: polygon(15% 0, 0% 50%, 84% 0);
	}
}
.piramide {
	position: absolute;
	height: 30%;
	width: 70%;
	display: flex;
}

.ladoA {
	position: absolute;

	width: 70%;
	height: 100%;

	background-color: #ebe9e9;
	z-index: 1;
	clip-path: polygon(79% 0, 0% 100%, 100% 100%);
	animation: ladoA-sombra 3.5s linear infinite;
}

@keyframes ladoA-sombra {
	0% {
		background-color: #ebe9e9;
	}
	50% {
		background-color: #ebe9e9;
	}
	70% {
		background-color: #939296;
	}
	100% {
		background-color: #939296;
	}
}

.ladoB {
	position: absolute;

	width: 70%;
	height: 100%;

	left: 30%;
	background-color: #939296;

	clip-path: polygon(36% 0, 0% 100%, 100% 100%);
	animation: ladoB-sombra 3.5s linear infinite;
}

@keyframes ladoB-sombra {
	0% {
		background-color: #939296;
	}
	30% {
		background-color: #939296;
	}
	50% {
		background-color: #ebe9e9;
	}
	100% {
		background-color: #ebe9e9;
	}
}

.sol {
	position: absolute;
	height: 13%;
	width: 13%;
	border-radius: 50%;
	background-color: #fee401;
}

.solfondo {
	position: absolute;
	height: 170%;
	width: 170%;
	top: 40%;
	transform: rotate(0deg);
	animation: girar 3.5s linear infinite;
}

@keyframes girar {
	0% {
		transform: rotateZ(0deg);
	}
	30% {
		transform: rotateZ(30deg);
	}
	50% {
		transform: rotateZ(30deg);
	}
	100% {
		transform: rotateZ(90deg);
	}
}

h2 {
	color: transparent;
	font-family: "Caveat", cursive;
	font-size: 4em;

	background-clip: text;
	-webkit-background-clip: text;
	background-image: rgb(0, 118, 235);
	background: -moz-linear-gradient(
		100deg,
		rgba(0, 118, 235, 1) 0%,
		rgba(78, 0, 210, 1) 100%
	);
	background-image: -webkit-linear-gradient(
		100deg,
		rgba(0, 118, 235, 1) 0%,
		rgba(78, 0, 210, 1) 100%
	);
	background-image: linear-gradient(
		100deg,
		rgba(0, 118, 235, 1) 0%,
		rgba(78, 0, 210, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0076eb",endColorstr="#4e00d2",GradientType=1);
}
